<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

  <bean id="outboundWebServiceTask" class="com.intertek.timer.OutboundWebServiceTask">
    <property name="outboundWebServiceManager">
      <ref bean="outboundWebServiceManager" />
    </property>
  </bean>

  <bean id="outboundWebServiceScheduledTimerTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
    <property name="delay">
      <value>${outbound.web.service.delay}</value>
    </property>
    <property name="period">
        <value>${outbound.web.service.period}</value>
    </property>
    <property name="timerTask">
      <ref bean="outboundWebServiceTask"/>
    </property>
  </bean>

  <bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
    <property name="scheduledTimerTasks">
      <list>
        <ref bean="outboundWebServiceScheduledTimerTask"/>
      </list>
    </property>
  </bean>

</beans>
